{% extends "default.njk" %}
{% block title %}RA Product Switcher{% endblock %}

{% block content %}
    <main class="wrapper">
        <div class="prod-switcher">

        </div>
    </main>
{% endblock %}
