.prod-tab {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10%;
    grid-gap: 20px;

    &__image {
        grid-column: 1;
        grid-row: 1 / span 2;
        border-radius: 10px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
    &__main {
        grid-column: 2;
        grid-row: 1;
    }
    &_description {
        margin-bottom: 20px;
    }
    &__options {
        grid-column: 2;
        grid-row: 2;
    }
    &__title {
        @include heading;
    }
    &__subtitle {
        @include heading;
    }
}
