.prod-materials {
    margin-top: 20px;

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 70px);
        grid-gap: 10px;
        margin-bottom: 20px;
    }
    &__material {
        @include reset-button;
        @include font-size(14);
        text-align: center;
        cursor: pointer;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: -6px;
            left: 6px;
            z-index: 1;
            border: 3px solid $color-regal-blue;
            border-radius: 50%;
            width: 52px;
            height: 52px;
            transform: scale(0.7);
            transition: transform 300ms $easeOutBack;
        }
        &.selected {

            &::after {
                transform: scale(1);
            }
        }
    }
    &__icon {
        display: block;
        border-radius: 50%;
        margin: 0 auto 15px auto;
        position: relative;
        z-index: 2;
    }
    &__title {
        @include heading-2;
    }
}
